# Q1
1. What are the differences between operators and values in the following?

Asterisk  symbol * is an operator that can be used as multiplication symbol.
Though it can also be treated a a string when enclosed within quotes.
eg:

In [3]:
a = 2*3
print(a)

6

'hello' 
is a string as it is enclosed between invetred quote.
Hence it is not an operater, rather treated as a string type value.
eg:

In [4]:
s = 'hello'
print(s)

hello

-87.8
is a float type value.

In [5]:
a = -87.8
print (type(a))

<class 'float'>

negative symbol or substraction operator  -   
division operator /
positive symbol or addition operator  +

In [8]:
print(10-5)
print(10/5)
print(10+5)

5
2.0
15

6 it is simpily an int value

In [9]:
a= 6 
print(type(a))

<class 'int'>

# Q2
2. What is the difference between string and variable?

Srting is an immutable data type, and if we want to delcare a string we use to enclose it in quotes be it single, double or triple quotes.
while a variable, which is simply a container with name, in which we can store any data type,can be declared by giving a name which starts with alpha and can contain numeric too. both lower and upper case are supported.

In [13]:
spam = 10 # it's a value
print(spam)

print('spam') #it's a string

10
spam

# Q3
3. Describe three different data forms.

integer:
It is a data type which happens to be only zero and both positive and negative natural number

float
It is a data type which can be any number with decimal and even negative.

string
It can be a single character or a collection of characters

In [20]:
a=10 #int
print(type(a),'\t',a)

a=10.005 #float
print(type(a),'\t',a)

a='10.005' #str
print(type(a),'\t',a)

<class 'int'> 	 10
<class 'float'> 	 10.005
<class 'str'> 	 10.005

# Q4
4. What makes up an expression? What are the functions of all expressions?

Any single line code written to solve a problem or manupilate input to get desired output 
It is made up of:    variable, Assignment operator, Operands and Operators.

In [22]:
a,b,c = 10, 5, 2            #this is decleration of variables
expression = a + b * c      #this statment is an expression
print(expression)           #dislpaying the output

20

# Q5
5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

Delceration assigns values to a new variable or overrides value to an already existing variable. While an expression can be any single line code written to solve a problem or manupilate input to get desired output. It is made up of:    variable, Assignment operator, Operands and Operators.

# Q6
6. After running the following code, what does the variable bacon contain?
bacon = 22;  bacon + 1
It will generate output after inrcementing by 1.

In [23]:
bacon = 22
bacon+1

23

# Q7
7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3 

The above two expressions will generate same output.

In [25]:
print('spam' + 'spamspam')

print('spam'*3)

spamspamspam
spamspamspam

# Q8
8. Why is it that eggs is a true variable name but 100 is not?

eggs can be a variable name as it starts with alpha. 100 can't be a variable name as it begins with a numeric.

# Q9
9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [37]:
a = 10.05 # a is floating point number
print(int(a), type(int(a)))   #a as int usint typecast

print(str(a), type(str(a))) #a as string usint typecast

a=10                        #a declared as int
print(type(a))
print(float(a), type(float(a)))   #a as float usint typecast

10 <class 'int'>
10.05 <class 'str'>
<class 'int'>
10.0 <class 'float'>

# Q10
10. What is the error caused by this expression? What would you do about it?     

'I have eaten ' + 99 + ' burritos.'

In [38]:
x = 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

As we are trying to concatenate a str with an integer. This can be solved by typecasting the integer into string.

In [40]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'