# python_programming_basic_assignment_2

QUESTION 1

In [9]:
#to contert kilometers to miles or vica versa

i = int(input("To convert Km to Miles, enter 1 \nTo convert Miles to Km, enter 0 :\n"))
if i :
    x = float(input("Enter the Length in Km: "))
    print( round( 0.6214 * x,2 ), " Miles")
else:
    x = float(input("Enter the Length in Miles: "))
    print( round( x/0.6214 ,2 ), " Km")

To convert Km to Miles, enter 1,
To convert Miles to Km, enter 0 :
0
Enter the Length in Miles: 6.2
9.98  Km

QUESTION 2

In [22]:
#to contert Celsius to Fahrenheit or vica versa

i = int(input("To convert Celsius to Fahrenheit, enter 1 \nTo convert Fahrenheit to Celsius, enter 0 :\n"))
if i :
    x = float(input("Enter the temprature Celsius: "))
    print( round( (x*18/10)+32 , 2 ), " Fahrenheit")
else:
    x = float(input("Enter the temprature Fahrenheit: "))
    print( round( (x-32)*(10/18) ,2 ), " Celsius")

To convert Celsius to Fahrenheit, enter 1,
To convert Fahrenheit to Celsius, enter 0 :
0
Enter the temprature Fahrenheit: 104
40.0  Celsius

QUESTION 3

In [137]:
#Display Calander
#Applicable for years of 20th and 21st Century

days = {'Sun\t':0, 'Mon\t':1, 'Tue\t':2, 'Wed\t':3, 'Thu\t':4, 'Fri\t':5, 'Sat\t':6}
mt = {'JANUARY':31,'FEBUARY':28,'MARCH':31,'April':30,'MAY':31,'JUNE':30,'JULY':31,'AUGUST':31,'SEPTEMBER':30,'OCTOBER':31,
      'NOVEMBER':30,'DECEMBER':31}

def isleap(yr):
    # to check if a year is a leap year
    
    if yr%4 == 0 and yr%100 != 0 or yr%400 == 0:
        return(1)
    else:
        return(0)

yr = int(input("enter the year:\t"))
print("")

if yr in range (1900,2000):
    x = yr%100
    y = x//4                   #No. of Leap yr btwn 1900 & yr
    z = (1+x+y)%7              #day of 1st jan of that year
    if isleap(yr):
        z=z-1
elif yr in range (2000,3000):
    x = yr-1900
    y = x//4                   #No. of Leap yr btwn 1900 & yr
    z = (1+x+y)%7              #day of 1st jan of that year
    if isleap(yr):
        z=z-1
    
for i in mt:                   #month iteration
    
    print (i,"\n")             #month header
    
    for day in days:
        print (day,end="")     #week header
    
    print ("")                 #new line after week header    
        
    print ('\t'*z, end = "")   #to indent cursor to 1st DAY of that month            
            
    nday = mt[i]               #contains no. of days in this month
        
    if i == 'FEBUARY':         #if leap yr feb will have 29 days
        if isleap(yr):
            nday = 29 
        
    for j in range (1,nday+1):
            
        print(  str(j)+"\t",end = "")
        z +=1
        if z == 7:
            print ('')
            z = 0
         
    print("\n")                #new line after month end

enter the year:	2021

JANUARY

Sun	Mon	Tue	Wed	Thu	Fri	Sat
					1	2
3	4	5	6	7	8	9
10	11	12	13	14	15	16
17	18	19	20	21	22	23
24	25	26	27	28	29	30
31

FEBUARY

Sun	Mon	Tue	Wed	Thu	Fri	Sat
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28

MARCH

Sun	Mon	Tue	Wed	Thu	Fri	Sat
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30	31

April

Sun	Mon	Tue	Wed	Thu	Fri	Sat
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29	30

MAY

Sun	Mon	Tue	Wed	Thu	Fri	Sat
						1
2	3	4	5	6	7	8
9	10	11	12	13	14	15
16	17	18	19	20	21	22
23	24	25	26	27	28	29
30	31

JUNE

Sun	Mon	Tue	Wed	Thu	Fri	Sat
		1	2	3	4	5
6	7	8	9	10	11	12
13	14	15	16	17	18	19
20	21	22	23	24	25	26
27	28	29	30

JULY

Sun	Mon	Tue	Wed	Thu	Fri	Sat
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29	30	31


AUGUST

Sun	Mon	Tue	Wed	Thu	Fri	Sat
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

SEPTEMBER

Sun	Mon	Tue	Wed	Thu	Fri	Sat
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30

OCTOBER

Sun	Mon	Tue	Wed	Thu	Fri	Sat
					1	2
3	4	5	6	7	8	9
10	11	12	13	14	15	16
17	18	19	20	21	22	23
24	25	26	27	28	29	30
31

NOVEMBER

Sun	Mon	Tue	Wed	Thu	Fri	Sat
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30

DECEMBER

Sun	Mon	Tue	Wed	Thu	Fri	Sat
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

QUESTION 4

In [133]:
#Solve Quadratic equation

from math import sqrt as sqrt

print ("a x2 + b x + c = 0 ")
a = int(input("enter values of a:\t"))
b = int(input("enter values of b:\t"))
c = int(input("enter values of c:\t"))

D = b**2 - 4*a*c

if D >0:
    x1 = (-b+sqrt(b**2-4*a*c))/2*a
    x2 = (-b-sqrt(b**2-4*a*c))/2*a
    print("solution:\tx1= ",x1,"\tx2= ",x2)
elif D == 0:
    x1  = (-b/2*a)
    print("solution:\tx1= ",x1,"\tx2= ",x1)
else:
    print("No Real solution possible")

a x2 + b x + c = 0
enter values of a:	1
enter values of b:	0
enter values of c:	-16
solution:	x1=  4.0 	x2=  -4.0

QUESTION 5

In [136]:
#SWAPING without temp for string data type

a = input("enter the value of a ")
b = input("enter the value of b ")
a,b = b,a
print("value stored in a: ",a,"\nvalue stored in b: ", b)

enter the value of a 10
enter the value of b up
value stored in a:  up
value stored in b:  10